#container {
  text-align: center;
  font-size: 25vw;
  top: 50vh;
  position: absolute;
  left: 50vw;
  margin-left: -25vw;
  margin-top: -15vw;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
}

#answer {
      /* standard gradient background */
  background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);

  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}