.container {
  text-align: center;
  font-size: 25vw;
  top: 50vh;
  position: absolute;
  left: 50vw;
  margin-left: -27vw;
  margin-top: -20vw;
  font-family: "Lalezar";
  font-weight: bold;
}

.answer {
  /* standard gradient background */
  background: linear-gradient(to left, violet, indigo, blue, green, gold, orange, red, brown, black);

  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  text-align: center;
  font-size: 1.5vw;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Roboto";
}